<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/dist/start.bundle.css">
    <script type="text/javascript" src="/dist/start.bundle.js"></script>
</head>

<body>
    <div class="black-box" data-black-box>
        <div class="blink" data-control>
            <div class="text-container">
                <div class="text__content" data-content><span class="span-line">{{ initial_text }}</span></div>
            </div>
        </div>
    </div>
</body>